.projects {
  &__container {
    position: relative;
    width: 250px;
    margin: 0 auto;
    @media screen and (min-width: 768px) {
      width: 500px;
    }
    @media screen and (min-width: 1024px) {
      width: 750px;
    }

    .swiper-button-prev::after,
    .swiper-button-next::after {
      content: '';
    }

    .swiper-button-prev,
    .swiper-button-next {
      width: 2.5rem;
      height: 2.5rem;
      margin: initial;
      top: 4.5rem;
      svg {
        fill: var(--title-color);
      }
    }

    .swiper-button-prev {
      left: -2.5rem;
    }

    .swiper-button-next {
      right: -2.5rem;
    }

    .swiper-slide {
      margin-bottom: 4.5rem;
    }

    .swiper-pagination-bullets {
      bottom: 0;
    }

    .swiper-pagination-bullet {
      background-color: var(--text-color-light);
      opacity: initial;
    }

    .swiper-pagination-bullet-active {
      background-color: var(--title-color);
    }
  }

  &__swiper {
  }

  &__img {
    width: 250px;
    border-radius: 0.75rem;
    margin-bottom: 1.25rem;
  }

  &__subtitle {
    font-size: var(--small-font-size);
    color: var(--text-color-light);
  }

  &__title {
    font-size: var(--h2-font-size);
    margin: 0.5rem 0 1.25rem;
  }

  &__button {
    display: inline-flex;
    align-items: center;
    column-gap: 0.5rem;
    color: var(--title-color);
    font-size: var(--small-font-size);

    svg {
      width: 16px;
      fill: var(--title-color);
      transition: transform 0.3s;
    }

    &:hover {
      svg {
        transform: translateX(0.25rem);
      }
    }
  }
}
